doctype html
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(href="stylesheets/bootstrap.css" rel="stylesheet")
		link(href="stylesheets/style.css" rel="stylesheet")

	body
		.container
			nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
				a.navbar-brand(href="#") Navbar
				button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
					span.navbar-toggler-icon
				#navbarNav.collapse.navbar-collapse
					ul.navbar-nav
						li.nav-item(class=(title === 'Home' ? 'active' : ''))
							a.nav-link(href='/') Home
						li.nav-item(class=(title === 'About' ? 'active' : ''))
							a.nav-link(href='/about') About
						li.nav-item(class=(title === 'Contact' ? 'active' : ''))
							a.nav-link(href='/contact') Contact

							
				
	

		block content
		footer
			p &copy; 2018, All Rights Under Reserved

	script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
	script.
		window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\\/script>')
	script(src="../../../../assets/js/vendor/popper.min.js")
	script(src="JavaScripts/bootstrap.js")